.choresText {
   color: darkred;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.2vw;
   font-style:italic;
}

.choresHeading {
   color: darkred;
   text-decoration: underline;
}